h1 {
  text-align: center;
  text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
  font-family: "Bungee Inline";
  font-size: 40px;
}
#h1Container {
  height: 400px;
  background-color: gainsboro;
  box-shadow: 10px 10px 30px grey;
  padding: 50px;
  margin: 30px;
  margin-right: 300px;
  margin-left: 300px;
}
#BTN {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
#BTN:hover {
  background-color: black;
}
label {
  font-family: "Cagliostro";
  font-size: 22px;
}
.singleCard {
  width: 30%;
  margin-left: 3%;
  margin-bottom: 3%;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  display: inline-block;
}
.singleCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
img {
  border-radius: 5px 5px 0 0;
}
.container {
  padding: 2px 16px;
}
#likeBtn {
  width: 80px;
  height: 30px;
}
